<div class="cadastroBackground">
    <div class="cadastroContainer">
      <div class="itensContainer">
        <h1 class="titulo">Grupo A</h1>
        <form (ngSubmit)="enviar()">
          <div class="demo_wrap">
            <h1>Qatar</h1>
            <img src="https://cdn.countryflags.com/thumbs/qatar/flag-800.png" />
            <select name="Qatar" required [(ngModel)]="Qatar">
              <option value="1">1°</option>
              <option value="2">2°</option>
              <option value="3">3°</option>
              <option value="4">4°</option>
            </select>
          </div>
          <div class="demo_wrap">
            <h1>Ecuador</h1>
            <img src="https://cdn.countryflags.com/thumbs/ecuador/flag-400.png" />
            <select name="Ecuador" required [(ngModel)]="Ecuador">
              <option value="1">1°</option>
              <option value="2">2°</option>
              <option value="3">3°</option>
              <option value="4">4°</option>
            </select>
          </div>
          <div class="demo_wrap">
            <h1>Senegal</h1>
            <img src="https://cdn.countryflags.com/thumbs/senegal/flag-400.png" />
            <select name="Senegal" required [(ngModel)]="Senegal">
              <option value="1">1°</option>
              <option value="2">2°</option>
              <option value="3">3°</option>
              <option value="4">4°</option>
            </select>
          </div>
          <div class="demo_wrap">
            <h1>Holanda</h1>
            <img
              src="https://cdn.countryflags.com/thumbs/netherlands/flag-400.png"
            />
            <select name="Holanda" required [(ngModel)]="Holanda">
              <option value="1">1°</option>
              <option value="2">2°</option>
              <option value="3">3°</option>
              <option value="4">4°</option>
            </select>
          </div>
        <div class="submitContainer">
          <button type="submit" class="button">Registrar</button>
          <a class="loginButton" href="login">Menu</a>
        </div>
      </form>
      </div>
    </div>
  </div>
